src/main/mule/interfaces/resources/student-contact-create.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\api\sys\isams\v1\students\(schoolId)\tempcontacts:application\json:sys-aldaredu-isams-api-config">
        <set-variable value="#[attributes.uriParams.schoolId]" doc:name="schoolId" doc:id="2f2cce61-954f-4921-ae6b-ae7efa13ccf5" variableName="schoolId" />
		<flow-ref doc:name="getISAMSToken" doc:id="88e368a3-19d5-4a4b-b10d-5e8b3346b4f3" name="initialize-isams-bearer-token-subflow" />
		<ee:transform doc:name="setHTTPVariables" doc:id="928d2dc2-0103-4a9f-b991-bc9a8a5539dc" >
			<ee:variables >
				<ee:set-variable variableName="httpMethod" ><![CDATA["POST"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA[Mule::p('isams.createstudentcontact.path')]]></ee:set-variable>
				<ee:set-variable variableName="uriParams" ><![CDATA[%dw 2.0
output application/json
---
{
	"schoolId": vars.schoolId
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="createStudentContactRequest" doc:id="f22e85a1-8b00-4996-94b9-c7e185b882b4" name="request-isams-subflow"/>
		<logger level="INFO" message="ISAMS Create Students Contact Response for schoolId #[vars.schoolId] is #[payload]" />
    </flow>		
	</mule>
