src/main/mule/interfaces/resources/student-customfields-update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="patch:\api\sys\isams\v1\students\(schoolId)\customFields:application\json:sys-aldaredu-isams-api-config">
        <set-variable value="#[attributes.uriParams.schoolId]" doc:name="schoolId" doc:id="92cbcfe2-a278-4fd3-ba0e-484ed9eff9f4" variableName="schoolId" />
		<flow-ref doc:name="getISAMSToken" doc:id="50f8efd7-e919-4546-bef8-e76d8d11a4d5" name="initialize-isams-bearer-token-subflow" />
		<ee:transform doc:name="setHTTPVariables" doc:id="1ec36f01-bd88-4792-bc0a-30514a881371" >
			<ee:variables >
				<ee:set-variable variableName="httpMethod" ><![CDATA["PATCH"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA[Mule::p('isams.updatestudentcustomfields.path')]]></ee:set-variable>
				<ee:set-variable variableName="uriParams" ><![CDATA[%dw 2.0
output application/json
---
{
	"schoolId": vars.schoolId
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="updateStudentCustomFieldsRequest" doc:id="2f35af12-929f-4d1b-9ebb-02a411449d21" name="request-isams-subflow"/>
		<logger level="INFO" message="ISAMS Update Students CustomFields Response for schoolId #[vars.schoolId]  is #[payload]" />
    </flow>
</mule>
