src/main/mule/interfaces/resources/student-update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="put:\api\sys\isams\v1\students\(schoolId):appliction\json:sys-aldaredu-isams-api-config">
        <set-variable value="#[attributes.uriParams.schoolId]" doc:name="schoolId" doc:id="2f686007-ced7-44b9-8892-a3fe0e0d13a7" variableName="schoolId"/>
		<flow-ref doc:name="getISAMSToken" doc:id="5196e4d2-3ff3-4350-ab77-59a688eaf1b4" name="initialize-isams-bearer-token-subflow" />
		<ee:transform doc:name="setHTTPVariables" doc:id="7d68a67c-943a-461b-a7fc-54ad2fb7104a" >
			<ee:variables >
				<ee:set-variable variableName="httpMethod" ><![CDATA["PUT"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA[Mule::p('isams.updatestudents.path')]]></ee:set-variable>
				<ee:set-variable variableName="uriParams" ><![CDATA[%dw 2.0
output application/json
---
{
	"schoolId": vars.schoolId
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
        <flow-ref doc:name="updateStudentRequest" doc:id="78f2392f-96cb-4a8d-9999-a5560cae366d" name="request-isams-subflow" />
		<logger level="INFO" message="ISAMS Update Students response for schoolId #[vars.schoolId] is #[payload]" />
    </flow>	
	</mule>
